.data-table {
    width: 90%; /* La tabla ocupará el 80% del ancho disponible */
    margin: 0 auto; /* Para centrar la tabla horizontalmente */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; /* Fondo blanco para la tabla */
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.data-table th {
    background-color: #f2f2f2;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.action-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.goal-form {
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
}

input[type="text"],
input[type="date"],
select,
textarea {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}