    body {
        font-family: 'Work Sans', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: linear-gradient(to bottom, #3058E8, #1D42C5) 50%;
    }

    .img-fluid.blob {
        position: absolute; 
        right: 0; 
        top: 0; 
        z-index: -1; 
        width: 40%; 
        height: 100%;
        object-fit: cover; 
        
    }

    .container {
        background-color: rgba(255, 255, 255, 0.7); 
        padding: 40px 60px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .login-form {
        max-width: 300px;
        margin: 0 auto;
    }

    h2 {
        color: #3058E8; 
        margin-bottom: 30px;
        font-weight: 700; 
    }

    .form-group {
        text-align: left;
        margin-bottom: 15px;
    }

    label {
        display: block;
        color: #3058E8; 
        margin-bottom: 5px;
    }

    input[type="email"],
    input[type="password"]
    {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
    }

    button {
        background-color: #3058E8;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 10px;
    }

    button:hover {
        background-color: #21439C;
    }

    .return-link {
        display: inline-block;
        margin-top: 10px;
        color: #3058E8; 
        text-decoration: none;
        font-weight: 600; 
    }

    .return-link:hover {
        text-decoration: underline; 
    }